web/WEB-INF/wsdl/localhost_8080/XYZWebService/XYZWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="reportAnnualPayouts" type="tns:reportAnnualPayouts"/>

<xs:element name="reportAnnualPayoutsResponse" type="tns:reportAnnualPayoutsResponse"/>

<xs:complexType name="reportAnnualPayouts">
<xs:sequence>
<xs:element name="claims" type="tns:claim" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="payments" type="tns:payment" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="claim">
<xs:sequence>
<xs:element name="amount" type="xs:float"/>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="memid" type="xs:string" minOccurs="0"/>
<xs:element name="rationale" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="payment">
<xs:sequence>
<xs:element name="amount" type="xs:float"/>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="memid" type="xs:string" minOccurs="0"/>
<xs:element name="time" type="tns:time" minOccurs="0"/>
<xs:element name="typeOfPayment" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="time">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="reportAnnualPayoutsResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>
</xs:schema>