src/conf/xml-resources/web-service-references/WS/wsdl/localhost_8080/XYZ-Web-Service/WS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="reportAnnualIncome" type="tns:reportAnnualIncome"/>

<xs:element name="reportAnnualIncomeResponse" type="tns:reportAnnualIncomeResponse"/>

<xs:element name="reportAnnualPayouts" type="tns:reportAnnualPayouts"/>

<xs:element name="reportAnnualPayoutsResponse" type="tns:reportAnnualPayoutsResponse"/>

<xs:complexType name="reportAnnualIncome">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="reportAnnualIncomeResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reportAnnualPayouts">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="reportAnnualPayoutsResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>
</xs:schema>